@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Ubuntu", sans-serif;
  }

  .page {
    @apply bg-primaryBackground p-6 relative;
  }

  .button {
    @apply block text-center bg-buttonBackground text-buttonText text-small max-w-[249px] w-full rounded-[10px] py-4 shadow-button;
  }

  .navLink {
    @apply block p-2 border border-black rounded-full text-medium;
  }

  .active-navLink {
    @apply navLink text-primaryBackground border-primaryBackground shadow-sm shadow-primaryBackground scale-110;
  }

  .text-stroke-1 {
    -webkit-text-stroke: 1.5px #431567;
  }

  .text-stroke-2 {
    -webkit-text-stroke: 1px #000;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
