@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Ubuntu", sans-serif;
  }

  .page {
    @apply bg-primaryBackground p-6 h-screen;
  }

  .button {
    @apply bg-buttonBackground text-buttonText max-w-[249px] w-full rounded-[10px] py-4 shadow-button;
  }

  .text-stroke-1 {
    -webkit-text-stroke: 1px #000;
  }

  .text-stroke-2 {
    -webkit-text-stroke: 1px #431567;
  }
}
